
<header class="header sticky-bar header-style-1">
  <div class="container">
    <div class="main-header">
      <div class="header-logo"><a class="d-flex" href="index.html"><img alt="florbaby" src="assets/imgs/template/logo.png"></a></div>
      <div class="header-menu">
        <div class="header-nav">
          <nav class="nav-main-menu d-none d-xl-block">
            <ul class="main-menu">
              <li class="has-mega-menu"><a class="active" routerLink="/blog">Home</a>

              </li>
              <li><a routerLink="/admin">Sobre</a></li>

              <li class="has-children"><a routerLink="/admin">Blog</a>

              </li>
              <li><a href="index.html">Contato</a></li>
            </ul>
          </nav>
          <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
  <div class="mobile-header-wrapper-inner">
    <div class="mobile-header-content-area">
      <div class="mobile-menu-head">
        <div class="box-head-1"><a class="logo-menu" href="index.html"><img alt="kidify" src="assets/imgs/template/logo.svg"></a><a class="close-mobile" href="#"><img src="assets/imgs/template/icons/close.svg" alt="kidify"></a></div>
        <div class="box-head-2"><a class="back-mobile" href="#"><img src="assets/imgs/template/icons/back.svg" alt="kidify"></a></div>
      </div>
      <div class="perfect-scroll">
        <div class="mobile-menu-wrap mobile-header-border">
          <nav>
            <ul class="mobile-menu font-heading">
              <li class="has-children"><a class="active" href="index.html">Home</a>
                <ul class="sub-menu">
                  <li><a href="index.html">Homepage - 1</a></li>
                  <li><a href="index-2.html">Homepage - 2</a></li>
                  <li><a href="index-3.html">Homepage - 3</a></li>
                  <li><a href="index-4.html">Homepage - 4</a></li>
                  <li><a href="index-5.html">Homepage - 5</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="product-list.html">Shop</a>
                <ul class="sub-menu">
                  <li><a href="product-list.html">Product List</a></li>
                  <li><a href="product-list-2.html">Product List 2</a></li>
                  <li><a href="product-list-3.html">Product List 3</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="fleet-list.html">Products</a>
                <ul class="sub-menu">
                  <li><a href="product-single.html">Product Single</a></li>
                  <li><a href="product-single-2.html">Product Single 2</a></li>
                  <li><a href="product-single-3.html">Product Single 3</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="about.html">Pages</a>
                <ul class="sub-menu">
                  <li><a href="about.html">About</a></li>
                  <li><a routerLink="/admin">My Account</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="cart.html">Cart</a></li>
                  <li><a href="checkout.html">Checkout</a></li>
                  <li><a href="compare.html">Products compare</a></li>
                  <li><a href="404.html">Error 404</a></li>
                </ul>
              </li>
              <li class="has-children"><a href="blog.html">Blog</a>
                <ul class="sub-menu">
                  <li><a href="blog.html">Blog List</a></li>
                  <li><a href="blog-2.html">Blog List 2</a></li>
                  <li><a href="blog-3.html">Blog List 3</a></li>
                  <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
              </li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

