<div class="col-lg-12 col-md-6">
  <div class="sidebar-border">
    <h5 class="font-3xl-bold head-sidebar">Categories</h5>
    <div class="content-sidebar">
      <ul class="list-filter-checkbox">
        <li><a class="font-xl" href="#">Fashion Trends</a><span class="number-item">12</span></li>
        <li><a class="font-xl" href="#">Kids' Outfits</a><span class="number-item">12</span></li>
        <li><a class="font-xl" href="#">Styling Tips</a><span class="number-item">12</span></li>
        <li><a class="font-xl" href="#">Favorite Brands</a><span class="number-item">12</span></li>
        <li><a class="font-xl" href="#">Best Deals Online</a><span class="number-item">12</span></li>
      </ul>
    </div>
  </div>
</div>
