<div class="sidebar-border">
  <h5 class="font-3xl-bold head-sidebar">Feature Posts</h5>
  <div class="content-sidebar">
    <ul class="list-featured-posts">
      <li>
        <div class="cardFeaturePost">
          <div class="cardImage"><a href="#"><img src="assets/imgs/page/blog/feature.png" alt="kidify"></a></div>
          <div class="cardInfo"><span class="lbl-tag-brand">Fashion</span><a class="font-sm-bold link-feature" href="#">Styling Children for Formal Events: Tips for Dressing to Impress</a></div>
        </div>
      </li>
      <li>
        <div class="cardFeaturePost">
          <div class="cardImage"><a href="#"><img src="assets/imgs/page/blog/feature2.png" alt="kidify"></a></div>
          <div class="cardInfo"><span class="lbl-tag-brand">Trend</span><a class="font-sm-bold link-feature" href="#">The Importance of Sustainable Fashion for Children</a></div>
        </div>
      </li>
      <li>
        <div class="cardFeaturePost">
          <div class="cardImage"><a href="#"><img src="assets/imgs/page/blog/feature3.png" alt="kidify"></a></div>
          <div class="cardInfo"><span class="lbl-tag-brand">Tips</span><a class="font-sm-bold link-feature" href="#">5 Creative Halloween Costume Ideas for Kids</a></div>
        </div>
      </li>
      <li>
        <div class="cardFeaturePost">
          <div class="cardImage"><a href="#"><img src="assets/imgs/page/blog/feature4.png" alt="kidify"></a></div>
          <div class="cardInfo"><span class="lbl-tag-brand">Events</span><a class="font-sm-bold link-feature" href="#">How to Dress Your Kid for Winter: Tips and Ideas</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
