<div class="sidebar-border">
  <h5 class="font-3xl-bold head-sidebar">Destaque</h5>
  <div class="content-sidebar">
    <ul class="list-featured-posts" *ngFor="let item of destaque">
      <li>
        <div class="cardFeaturePost">
          <div class="cardImage"><a  (click)="goToPostagem(item)"><img src="{{item.imagem}}" width="120" height="100"  alt="{{item.subtitulo}}"></a></div>
          <div class="cardInfo"><span class="lbl-tag-brand">{{item.categoria}}</span><a (click)="goToPostagem(item)" class="font-sm-bold link-feature"  >{{item.subtitulo}}</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
