<!-- <div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="page-loading text-center"><img class="d-inline-block" src="assets/imgs/template/favicon.svg" alt="Kidify">
        <div class="page-loading-inner">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<app-header></app-header>

<main class="main" *ngIf="!loading">
  <section class="section block-blog-single">
    <div class="container">
      <div class="top-head-blog">
        <div class="text-center"><a class="label-tag mb-15" href="#">Kids' Outfits</a>
          <h2 class="font-4xl-bold">{{dataPostagem.title}}</h2>
          <div class="box-author"><img src="assets/imgs/page/blog-single/author.png" alt="kidify">
            <div class="author-info">
              <div class="author-name">{{dataPostagem.autor}}</div>
              <div class="post-meta"><span class="mr-20">{{dataPostagem.createdAt  | datacustom }}</span><span>{{dataPostagem.tempodeleitura}}</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="feature-image"><img src="assets/imgs/page/blog-single/img.png" alt="kidify"></div>
      <div class="content-detail">
        <div [innerHTML]="dataBlog.descricao"></div>
      </div>
      <div class="box-comments">
        <div class="list-comments">
          <div class="item-comment">
            <div class="item-comment-image"><img src="assets/imgs/page/blog-single/author2.png" alt="kidify"></div>
            <div class="item-comment-info">
              <p class="font-xl-bold mb-5">Julia Kaim</p>
              <p class="font-lg">Julia Kaim is a writer who has a passion for storytelling. With a background in journalism and creative writing, she has a talent for crafting compelling narratives that engage readers and leave a lasting impression.</p>
            </div>
          </div>
        </div>
        <div class="form-comment">
          <h2 class="font-3xl-bold title-comment">Leave a comment</h2>
          <form action="#">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <textarea class="form-control" rows="6"></textarea>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <button class="btn btn-brand-1-medium">Post Comment</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</main>

<app-footer></app-footer>
