
<app-header></app-header>
<main class="main">
  <section class="section block-shop-head block-blog-head-2">
    <div class="container text-center">
      <h1 class="font-5xl-bold neutral-900">Nosso Blog</h1>
      <div class="breadcrumbs">
        <ul class="justify-content-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section content-products">
    <div class="container">
      <div class="box-blog-column">
        <div class="col-1">
          <div class="box-inner-blog-padding" *ngFor="let data of dataList">
              <div class="cardBlogStyle1">
                <div class="cardImage"><a class="tag-up" href="#">{{data.categoria}}</a><a href="#"><img src="assets/imgs/page/blog/blog.png" alt="kidify"></a></div>
                <div class="cardInfo"><a href="#">
                    <h2 class="font-42-bold mb-10">{{data.title}}</h2></a>
                  <div class="box-meta-post mb-20"><span class="font-sm neutral-500">{{data.createdAt  | datacustom }}</span><span class="font-sm neutral-500">{{data.tempodeleitura}}</span><span class="font-sm neutral-500">{{data.views}} views</span></div>
                  <p class="font-lg">{{data.descricao}}</p>
                  <div class="mt-25 text-end"><a class="btn btn-arrow-right" href="#">Continue Lendo<img src="assets/imgs/template/icons/arrow-sm.svg" alt="Continue Lendo"><img class="hover-icon" src="assets/imgs/template/icons/arrow-sm.svg" alt="Kidify"></a></div>
                </div>
              </div>




          </div>
          <div class="mb-50">
            <nav class="box-pagination">
              <ul class="pagination">
                <li class="page-item"><a class="page-link page-prev" href="#">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"></path>
                    </svg></a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">10</a></li>
                <li class="page-item"><a class="page-link page-next" href="#">
                    <svg fill="none" stroke="currentColor" stroke-width="1.5" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                    </svg></a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-2">
          <div class="sidebar-right">
            <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">

              <app-categorias></app-categorias>

              <div class="col-lg-12 col-md-6">
                <app-mais-vistos-posts></app-mais-vistos-posts>
              </div>
              <div class="col-lg-12 col-md-6">
                <app-tags></app-tags>
              </div>
              <div class="col-lg-12 col-md-6">
                <app-gallery></app-gallery>
              </div>
              <div class="col-lg-12 col-md-6">
                <app-arquivo></app-arquivo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section block-section block-subscriber">
    <div class="container">
      <div class="box-subscriber-2">
        <div class="row align-items-end">
          <div class="col-lg-1"> </div>
          <div class="col-lg-5">
            <h4 class="heading-4 brand-2 mb-20">Sing up and get up to <span class="brand-3">25% </span>off <br class="d-none d-lg-block">your first purchase </h4>
            <p class="font-md neutral-500 mb-20">Receive offter, product alerts, styling inspiration and more. By signing up, you agree to our Privace Policy</p>
          </div>
          <div class="col-lg-5">
            <div class="box-form-newsletter mb-20">
              <form action="#">
                <input class="form-control" type="text" placeholder="Enter your email">
                <button class="btn btn-brand-1">Subscriber  </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="section block-section block-section-gallery block-section-instagram-5">
    <div class="container">
      <div class="top-head top-head-abs justify-content-center">
        <p class="font-md-bold text-uppercase brand-1 wow fadeInDown">FOLLOW US ON INSTAGRAM</p><a class="kidify-icon" href="#">kidify.com</a>
      </div>
    </div>
    <div class="box-gallery-instagram">
      <div class="box-gallery-instagram-inner">
        <div class="gallery-item wow fadeInLeft"><img src="assets/imgs/page/homepage4/insta.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage4/insta2.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage4/insta3.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage4/insta4.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage4/insta5.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage4/insta6.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInRight d-md-block d-none"><img src="assets/imgs/page/homepage4/insta7.png" alt="kidify"></div>
        <div class="gallery-item wow fadeInRight d-md-block d-none"><img src="assets/imgs/page/homepage4/insta8.png" alt="kidify"></div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
