<div class="sidebar-border">
  <h5 class="font-3xl-bold head-sidebar">Archives</h5>
  <div class="content-sidebar">
    <ul class="list-filter-checkbox">
      <li>
        <a class="font-xl" href="#">October 2022</a>
        <span class="number-item">136</span></li>
      <li><a class="font-xl" href="#">November 2022</a><span class="number-item">25</span></li>
      <li><a class="font-xl" href="#">December 2022</a><span class="number-item">48</span></li>
      <li><a class="font-xl" href="#">January 2023</a><span class="number-item">164</span></li>
      <li><a class="font-xl" href="#">February 2023</a><span class="number-item">18</span></li>
    </ul>
  </div>
</div>
