<footer class="footer">
  <div class="footer-1">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
          <h5 class="neutral-900 text-uppercase mb-30">CONTATO</h5>
          <p class="neutral-900 font-lg desc-company">Segunda a sexta-feira, das 8h às 17h</p>
          <p class="neutral-900 font-lg phone-footer">(11) 3294-4887</p>
          <p class="neutral-900 font-lg phone-footer">(11) 957080582</p>
          <p class="neutral-900 font-lg email-footer">contatoAflorbaby.com.br</p>
        </div>
        <div class="col-lg-9 mb-30">
          <div class="row">
            <div class="col-lg-3 col-md-6 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
              <h5 class="neutral-900 text-uppercase mb-30">Companhia</h5>
              <ul class="menu-footer">
                <li><a href="sobre.html">Quem somos</a></li>
                <li><a href="#">Nossos especialistas</a></li>
                <li><a href="#">Serviços e Preço</a></li>
                <li><a href="blog-2.html">Últimas notícias</a></li>
                <li><a href="apoio.html">Centro de Suporte</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".2s">
              <h5 class="neutral-900 text-uppercase mb-30">Clientes</h5>
              <ul class="menu-footer">
                <li><a href="contact.html">Contate-nos</a></li>
                <li><a href="apoio.html?central-de-suporte=pagamentos">Pagamentos</a></li>
                <li><a href="apoio.html?central-de-suporte=pontos-bonus">Ponto de bônus</a></li>
                <li><a href="apoio.html?central-de-suporte=desconto">Descontos</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
              <h5 class="neutral-900 text-uppercase mb-30">APOIO</h5>
              <ul class="menu-footer">
                <li><a href="apoio.html?central-de-suporte=informacao-de-envio">Informações de envio</a></li>
                <li><a href="apoio.html?central-de-suporte=reembolso">Reembolso</a></li>
                <li><a href="apoio.html?central-de-suporte=como-encomendar">Como encomendar</a></li>
                <li><a href="apoio.html?central-de-suporte=como-rastrear">Como rastrear</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".4s">
              <h5 class="neutral-900 text-uppercase mb-30">social</h5>
              <ul class="menu-footer">
                <li><a class="facebook" href="https://www.facebook.com/lojaflorbaby">Facebook</a></li>
                <li><a class="instagram" href="https://www.instagram.com/lojaflorbaby/">Instagram</a></li>
                <li><a class="tiktok" href="https://www.tiktok.com/@lojaflorbaby">Tiktok</a></li>
                <li><a class="youtube" href="https://www.youtube.com/@FlorBabyStore">Youtube</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-2">
    <div class="container">
      <div class="footer-bottom">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-12 text-center text-lg-start mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a href="index.html"><img src="assets/imgs/template/logo.png" alt="florbaby"></a></div>
          <div class="col-lg-6 col-md-12 text-center mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s"><span class="body-p1 neutral-900 mr-5">©2024</span><a href="#">FlorBaby</a>. All rights reserved</div>
          <div class="col-lg-3 col-md-12 text-center text-lg-end mb-20 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
            <div class="d-flex justify-content-center justify-content-lg-end align-items-center box-all-payments">
              <div class="d-inline-block box-payments"><img src="assets/imgs/template/icons/mastercard.svg" alt="florbaby"><img src="assets/imgs/template/icons/googlepay.svg" alt="florbaby"><img src="assets/imgs/template/icons/payoneer.svg" alt="florbaby"><img src="assets/imgs/template/icons/applepay.svg" alt="florbaby"><img src="assets/imgs/template/icons/paypal.svg" alt="florbaby"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="../../../../assets/js/vendors/modernizr-3.6.0.min.js"></script>
<script src="../../../../assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="../../../../assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
<script src="../../../../assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="../../../../assets/js/vendors/waypoints.js"></script>
<script src="../../../../assets/js/vendors/wow.js"></script>
<script src="../../../../assets/js/vendors/magnific-popup.js"></script>
<script src="../../../../assets/js/vendors/perfect-scrollbar.min.js"></script>
<script src="../../../../assets/js/vendors/select2.min.js"></script>
<script src="../../../../assets/js/vendors/isotope.js"></script>
<script src="../../../../assets/js/vendors/scrollup.js"></script>
<script src="../../../../assets/js/vendors/swiper-bundle.min.js"></script>
<script src="../../../../assets/js/vendors/noUISlider.js"></script>
<script src="../../../../assets/js/vendors/slider.js"></script>
<!-- Count down-->
<script src="../../../../assets/js/vendors/counterup.js"></script>
<script src="../../../../assets/js/vendors/jquery.countdown.min.js"></script>
<!-- Count down--><script src="../../../../assets/js/vendors/jquery.elevatezoom.js"></script>
<script src="../../../../assets/js/vendors/slick.js"></script>
<script src="../../../../assets/js/vendors/jquery-ui.js"></script>
<script src="../../../../assets/js/vendors/jquery.timepicker.min.js"></script>
<script src="../../../../assets/js/vendors/glightbox.min.js"></script>
