.conta{
  width: 100%;
}
.post-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 1000px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
