<div class="col-md-9">
  <h1>Categorias</h1>
  <div class="tab-content account dashboard-content pl-50">
    <div class="botao">
      <a class="btn btn-primary" (click)="goToPage()">Listar Postagem</a>
    </div>
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0"></h3>
        </div>
        <div class="card-body">
          <div class="conta">
          <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="post-form">
            <div class="form-group">
              <label for="title">Título</label>
              <input type="text" id="title" class="form-control" formControlName="title">
            </div>

            <div class="form-group">
              <label for="author">Autor</label>
              <input type="text" id="author" class="form-control" formControlName="author">
            </div>

            <div class="form-group">
              <label for="date">Categoria</label>
              <input type="text" id="categoria" class="form-control" formControlName="categoria">
            </div>

            <div class="form-group">
              <label for="date">Categoria</label>
              <input type="text" id="imagem" class="form-control" formControlName="imagem">
            </div>

            <div class="form-group">
              <label for="content">Conteúdo</label>
              <textarea id="content" class="form-control" formControlName="description" rows="6"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="postForm.invalid">Criar Postagem</button>
          </form>
          </div>
        </div>

    </div>

  </div>
</div>
