<section class="section block-section-8">
  <div class="container">
    <div class="text-center">
      <div class="top-head justify-content-center">
        <h4 class="text-uppercase brand-1 wow fadeInDown" data-wow-delay=".0s">Marcas populares</h4>
      </div>
    </div>
    <div class="text-center box-logos wow animate__animated animate__fadeIn" data-wow-delay=".0s"><img src="assets/imgs/slider/logo/logo-1.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-2.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-3.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-4.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-5.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-6.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-7.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-8.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-9.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-10.png" alt="kidify"><img src="assets/imgs/slider/logo/logo-11.png" alt="kidify"></div>
  </div>
</section>

<section class="section block-section-10">
  <div class="container">
    <div class="top-head justify-content-center">
      <h4 class="text-uppercase brand-1 wow fadeInDown">instagram feed</h4>
    </div>
  </div>
  <div class="box-gallery-instagram">
    <div class="box-gallery-instagram-inner">
      <div class="gallery-item wow fadeInLeft"><img src="assets/imgs/page/homepage1/instagram6.png" alt="kidify"></div>
      <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram.png" alt="kidify"></div>
      <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram2.png" alt="kidify"></div>
      <div class="gallery-item wow fadeInUp"><img src="assets/imgs/page/homepage1/instagram3.png" alt="kidify"></div>
      <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage1/instagram4.png" alt="kidify"></div>
      <div class="gallery-item wow fadeInRight"><img src="assets/imgs/page/homepage1/instagram5.png" alt="kidify"></div>
    </div>
  </div>
</section>
