<app-loading></app-loading>
<div class="product-status mg-b-30">
  <div class="container-fluid" *ngIf="!loading && page === 'table'">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="product-status-wrap">
                  <h4>Categoria List</h4>
                  <div class="add-product">

                  </div>
                  <table class="tb" >
                      <tr class="tb-title">
                          <th>Nome</th>
                          <th>Opções</th>
                      </tr>
                      <tr *ngFor="let item of data">

                          <td>{{item.nome}}</td>


                          <td>
                              <button data-toggle="tooltip" title="Edit" class="pd-setting-ed" (click)="onEdit(item.id)">Edit</button>
                              <button data-toggle="tooltip" title="Trash" class="pd-setting-ed" (click)="onDelete(item.id)">Excluir</button>
                          </td>
                      </tr>

                  </table>
                  <div class="custom-pagination">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                  </div>


              </div>
          </div>
      </div>
  </div>
  <app-criar-categorias *ngIf="!loading && page === 'edit'" [dataEdit]="dataEdit" (page)="page ='table'"></app-criar-categorias>
</div>
